{{#each exercises as |exercise|}}


   <li>Name: {{exercise.name}}</li>
    <ul>Weight: {{exercise.weight}}</ul>

   <ul><button type="button" name="edit-button">Edit</button>
    <button type="button" name="remove-button">Remove</button></ul>


{{/each}}


<!-- <ul>Drive time: {{beach.drive_time}}</ul>
<ul>Entry ID: {{beach.id}}</ul> -->
