$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// @import '~/assets/styles/theme_dark.css';



body {
  line-height: 1.8;
  background-color: #fff;
  color: #191919;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
}


#library, .dataTables_filter {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  letter-spacing: 1px;
}


/* custom dataTable search box*/

.dataTables_length, .dataTables_paginate, .dataTables_info {
  display: none;
}
