@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700");

/**
 * base
 * --------------------------------------------------
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*, *:active:focus, *:focus {
  outline: 0 !important;
}

*:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}*/

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.8;
  background-color: #fff;
  color: #191919;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  margin-bottom: 30px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #fff;
}

a:focus, a:hover {
  color: white;
  text-decoration: none;
}


/**
  * form
  * --------------------------------------------------
  */

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.form-label {
  font-size: 12px;
  font-weight: 600;
}


/**
  * buttons
  * --------------------------------------------------
  */

.btn {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  padding: 22px 39px 22px 40px;
  border: 2px solid transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn i {
  font-weight: bold;
  margin-right: 10px;
}

.btn-default {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.btn-default:focus, .btn-default:hover {
  border-color: #fff;
  background-color: #fff;
  color: #131417;
}

.btn-default:active, .btn-default:active:focus, .btn-default:active:hover {
  border-color: #fff;
  background-color: #fff;
  color: #131417;
}


/**
  * common
  * --------------------------------------------------
  */

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

.section-heading {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .section-heading {
    margin-bottom: 50px;
  }
}

.section-subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 1px;
}

#library, .dataTables_filter {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  letter-spacing: 1px;
}


/* custom dataTable search box*/

.dataTables_length, .dataTables_paginate, .dataTables_info {
  display: none;
}
